Repository MaxNazarov93/what-time-is: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, eslint --fix, prettier --parser angular --write --print-width 120, stylelint --syntax html --fix, prettier --parser css --write --print-width 120, stylelint --syntax css --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --parser typescript --write", "eslint --fix"],
  "*.js": ["eslint --fix"],
  "*.tsx": ["prettier --parser typescript --write", "eslint --fix"],
  "*.html": [
    "prettier --parser angular --write --print-width 120",
    "stylelint --syntax html --fix"
  ],
  "*.css": ["prettier --parser css --write --print-width 120", "stylelint --syntax css --fix"]
}

Create CNAME
  CNAME
Due: none

Update CNAME
  CNAME
Due: none

intermediate commit
  src/App.tsx
  src/components/favourites/favourites.component.tsx
  src/components/time-input/time-input.component.tsx
  src/components/timezone-select/timezone-select.component.tsx
  src/contexts/favourite.context.ts
  src/models/favourite.ts
  src/types/favourite.type.ts
  src/types/timezone.type.ts
  src/utils/favourites.util.ts
Due: prettier --parser typescript --write, eslint --fix

Updates
  CNAME
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  static/css/main.16b90e2c.css.map
Due: prettier --parser angular --write --print-width 120, stylelint --syntax html --fix

Updates
  asset-manifest.json
  index.html
Due: prettier --parser angular --write --print-width 120, stylelint --syntax html --fix

Updates
  CNAME
Due: none

fix: changed domain
  package.json
Due: none

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  static/css/main.16b90e2c.css.map
  static/css/main.724b4fc0.css
  static/css/main.724b4fc0.css.map
  static/js/main.55e8561d.js
  static/js/main.55e8561d.js.map
  static/js/main.cc37658e.js
  static/js/main.cc37658e.js.LICENSE.txt
  static/js/main.cc37658e.js.map
Due: eslint --fix, prettier --parser angular --write --print-width 120, stylelint --syntax html --fix, prettier --parser css --write --print-width 120, stylelint --syntax css --fix

Updates
  CNAME
  asset-manifest.json
  index.html
Due: prettier --parser angular --write --print-width 120, stylelint --syntax html --fix

feat: added TimeZone context provided and timezones saving in LS; refactoring of blocks
  package.json
  src/App.css
  src/App.tsx
  src/components/favourites/favourites.component.tsx
  src/components/time-input/time-input.component.css
  src/components/time-input/time-input.component.tsx
  src/components/timezone-list/timezone-list.component.tsx
  src/components/timezone-select/timezone-select.component.tsx
  src/contexts/favourite.context.ts
  src/contexts/time-zones.context.ts
  src/hooks/useTimeZonesContext.ts
  src/providers/time-zone/time-zones.provider.tsx
  src/types/favourite.type.ts
  src/types/timezone.type.ts
  src/utils/favourites.util.ts
  src/utils/time-zones.util.ts
Due: prettier --parser typescript --write, eslint --fix, prettier --parser css --write --print-width 120, stylelint --syntax css --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.124ef4f2.css
  static/css/main.124ef4f2.css.map
  static/css/main.724b4fc0.css.map
  static/js/main.8cdf9693.js
  static/js/main.8cdf9693.js.LICENSE.txt
  static/js/main.8cdf9693.js.map
  static/js/main.cc37658e.js
  static/js/main.cc37658e.js.map
Due: eslint --fix, prettier --parser angular --write --print-width 120, stylelint --syntax html --fix, prettier --parser css --write --print-width 120, stylelint --syntax css --fix

feat: Added nominatum for city search and twitchax for search of TZ by coordinates
  package-lock.json
  package.json
  src/App.test.tsx
  src/components/timezone-select/timezone-select.component.css
  src/components/timezone-select/timezone-select.component.tsx
  src/types/timezone.type.ts
  src/utils/time-zones.util.ts
  src/utils/timezone.util.ts
Due: prettier --parser typescript --write, eslint --fix, prettier --parser css --write --print-width 120, stylelint --syntax css --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.124ef4f2.css.map
  static/css/main.2c3bbd6f.css
  static/css/main.2c3bbd6f.css.map
  static/js/main.70bd2f5a.js
  static/js/main.70bd2f5a.js.LICENSE.txt
  static/js/main.70bd2f5a.js.map
  static/js/main.8cdf9693.js
  static/js/main.8cdf9693.js.map
Due: eslint --fix, prettier --parser angular --write --print-width 120, stylelint --syntax html --fix, prettier --parser css --write --print-width 120, stylelint --syntax css --fix

fix: time zone item style fix
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/time-input/time-input.component.tsx
Due: prettier --parser typescript --write, eslint --fix, prettier --parser css --write --print-width 120, stylelint --syntax css --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.2c3bbd6f.css.map
  static/css/main.ef635f7a.css
  static/css/main.ef635f7a.css.map
  static/js/main.70bd2f5a.js
  static/js/main.70bd2f5a.js.map
  static/js/main.c65708b3.js
  static/js/main.c65708b3.js.LICENSE.txt
  static/js/main.c65708b3.js.map
Due: eslint --fix, prettier --parser angular --write --print-width 120, stylelint --syntax html --fix, prettier --parser css --write --print-width 120, stylelint --syntax css --fix

Updates
  asset-manifest.json
  assets/index-BW7oyW1e.css
  assets/index-C4K8wKPE.js
  favicon.ico
  icon.svg
  index.html
  logo192.png
  logo512.png
  manifest.json
  manifest.webmanifest
  registerSW.js
  robots.txt
  static/css/main.ef635f7a.css
  static/css/main.ef635f7a.css.map
  static/js/main.c65708b3.js
  static/js/main.c65708b3.js.LICENSE.txt
  static/js/main.c65708b3.js.map
  sw.js
  workbox-b51dd497.js
Due: eslint --fix, prettier --parser angular --write --print-width 120, stylelint --syntax html --fix, prettier --parser css --write --print-width 120, stylelint --syntax css --fix
